# Build dir, lib dir
build/
lib/

# Vim swap files
*.swp

# HDF5 files
*.h5

# cmake
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
install_manifest.txt
Makefile
MANIFEST
CTestTestfile.cmake
*.json

# Google Test
Testing/
googletest*

## Auto generated:

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
